<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nightshoes</title>
</head>

<body>
    <header>
        <a href="" class="logo">Nightshoes</a>

        <input type="checkbox" id="header">
        <label for="header" class="fas fa-bars"></label>

        <nav class="navbar">
            <form method="POST">
                <a href="/">Início</a>
                <% if(isUser) { %>
                    <a href="/cart">Carrinho</a>
                    <% if(isAdmin) { %>
                        <a href="/add">Adicionar</a>
                        <% } %>
                    <button type="submit" formaction="/logout">Sair</a>
                        <% } else { %>
                            <a href="/login">Minha Conta</a>
                            <% } %>
            </form>
        </nav>
    </header>