<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Cadastre-se</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="img/auth.svg" alt="">
        </div>
        <div class="right">
            <% if(userErr) { %>
                <div class="validation">
                    <%=userErr%>
                </div>
                <% } %>
                    <form action="/register" method="POST">
                        <h2>Criar Conta</h2>
                        <div class="div-input">
                            <label>Nome de usuário</label>
                            <input id="name" name="name" type="text" placeholder="Digite seu nome">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div-input">
                            <label>Seu melhor e-mail</label>
                            <input name="email" type="email" placeholder="example@gmail.com">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="div-input">
                            <label>Senha de usuário</label>
                            <input name="password" type="password" placeholder="No mínimo 6 characteres">
                            <i class="fas fa-key"></i>
                        </div>
                        <div class="div-input">
                            <label>Confirme a Senha</label>
                            <input name="cpassword" type="password" placeholder="Confirme sua senha" >
                            <i class="fas fa-key"></i>
                        </div>
                        <div class="div-input">
                            <button type="submit">Criar</button>
                        </div>
                        <p>Já possui conta? <a href="/login">Acesse</a></p>
                    </form>
        </div>
    </div>
    <%-include('partials/footer')%>